# IDE
.idea/
.opencode/
.claude/
target/

# test
playwright-report/
test-results/

# npm
node_modules/
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/
uv.lock

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log
